#Database Connection strings
DATOX_DATABASE__MAIN_DSN=<azure postgresql main database>
DATOX_DATABASE__ADMIN_DSN=<azure postgresql admin database>

DATOX_DATABASE__MAIN_LOCAL_DSN=postgresql://postgres:123@localhost/copilotdb #local main database
DATOX_DATABASE__ADMIN_LOCAL_DSN=postgresql://postgres:123@localhost/copilotadmin #local admin database
 
ALLOWED_ORIGINS=<http://localhost1,https://localhost2>
#Azure Active Diractory configs
AZURE_AD_INSTANCE=https://login.microsoftonline.com/
AZURE_AD_DOMAIN=datox.ai
AZURE_AD_TENANT_ID=common
AZURE_AD_CLIENT_ID=<your-client-id>
AZURE_AD_FRONTEND_CLIENT_ID=<your-front-end-id>
AZURE_STORAGE_CONNECTION_STRING=<your-storeage-connection-string>
AZURE_STORAGE_DA_AGENT_CONTAINER=<your-container-name>
#Azure OpenAI endpoints 
AZURE_OPENAI_ENDPOINT=https://ai-stage2.openai.azure.com/
OPENAI_API_VERSION=2023-08-01-preview
AZURE_OPENAI_API_KEY=<your-azure-openai-key>
