aiohttp==3.9.1
aiosignal==1.3.1
alembic==1.13.1
annotated-types==0.6.0
anyio==4.2.0
asn1crypto==1.5.1
attrs==23.2.0
azure-core==1.29.7
azure-storage-blob==12.19.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
chromadb==0.4.24
click==8.1.7
cryptography==41.0.7
dataclasses-json==0.6.3
distro==1.9.0
ecdsa==0.18.0
fastapi==0.109.0
fastapi-azure-auth==4.3.0
fastapi-pagination==0.12.14
filelock==3.13.1
frozenlist==1.4.1
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
idna==3.6
isodate==0.6.1
jsonpatch==1.33
jsonpointer==2.4
langchain==0.1.3
langchain-community==0.0.16
langchain-core==0.1.16
langchain-openai==0.0.5
langsmith==0.0.83
Mako==1.3.0
MarkupSafe==2.1.4
marshmallow==3.20.2
multidict==6.0.4
msal==1.26.0
mypy-extensions==1.0.0
numpy==1.26.3
openai==1.10.0
packaging==23.2
pandas==2.2.0
platformdirs==3.11.0
psycopg2==2.9.9
pyasn1==0.5.1
pycparser==2.21
pydantic==2.5.3
pydantic-settings==2.1.0
pydantic_core==2.14.6
PyJWT==2.8.0
pyOpenSSL==23.3.0
pypdf==4.0.2
python-dateutil==2.8.2
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.6
pytz==2023.3.post1
PyYAML==6.0.1
PyMuPDF==1.23.25
regex==2023.12.25
requests==2.31.0
rsa==4.9
six==1.16.0
sniffio==1.3.0
snowflake-connector-python==3.6.0
snowflake-sqlalchemy==1.5.1
sortedcontainers==2.4.0
SQLAlchemy==1.4.51
starlette==0.35.1
tenacity==8.2.3
tiktoken==0.5.2
tomlkit==0.12.3
tqdm==4.66.1
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
uvicorn==0.27.0
websockets==12.0
yarl==1.9.4
